<div class="card mb-4 box-shadow cursor-pointer" (click)="navigateToForecast()"> 
  <app-card-image image={{image}} alt={{location}}></app-card-image>
  <app-card-body
    location={{location}}
    temperature={{temperature}}
    description={{description}}
    strength={{windStrength}}
    icon={{icon}}
  ></app-card-body>
</div>