<header>
  <div class="navbar navbar-white bg-white box-shadow">
    <div class="container d-flex justify-content-between">
      <a [routerLink]="['/home']" class="navbar-brand d-flex align-items-center">
        <img src="assets/icons/sunny.svg" alt="weather live" width="30" height="30" class="mr-2" />
        <strong>{{title}}</strong>
      </a>
    </div>
  </div>
</header>