.card-weather-icon {
  img {
    width: 80px;
    height: 80px;
  }
}

.card-weather-temperature {
  .degree {
    font-size: 24px;
    font-weight: 500;
  }

  .description {
    text-transform: capitalize;
  }
}
