<div>
  <div class="card-weather-icon">
    <img src="https://openweathermap.org/img/wn/{{icon}}@2x.png" class="icon" alt="temperature">
  </div>
  <div class="card-weather-temperature">
    <div class="degree">{{temperature}}&deg;C</div>
    <div class="text-muted description">{{description}}</div>
  </div>
</div>