<div>
  <div class="card-wind-icon">
    <img src="assets/icons/wind.svg" class="icon" alt="wind strength">
  </div>
  <div>
    <div class="card-wind-strength">{{strength}}</div>
    <div class="text-muted">Meter / Sec</div>
  </div>
</div>