li {
  margin: 20px 0;
  padding-left: 20px;

  &:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #33495F;
    left: 18px;
    width: 25px;
    height: 25px;
    z-index: 400;
  }
}

.time {
  opacity: 0.9;
  font-weight: 500;
}

.weather-icon {
  width: 120px;
}

.temperature-section {
  margin-top: auto;
  margin-bottom: auto;

  .temp {
    font-size: 22px;
    font-weight: bold;
  }

  .description {
    font-style: italic;
    text-transform: capitalize;
  }

  .min-max-temp {
    font-style: italic;
    color: #6c757d;
  }
}

.wind-icon {
  width: 30px;
}

.wind-strength {
  vertical-align: middle;
}