<li *ngFor="let time of list">
  <h4 class="time">{{time.date | amDateFormat: 'LT'}}</h4>
  <div class="row pt-2 pb-2">
    <div class="col-auto pl-0 pr-0">
      <img src="https://openweathermap.org/img/wn/{{time.weather.icon}}@2x.png" class="weather-icon"
        alt={{time.weather.description}}>
    </div>
    <div class="col-auto temperature-section">
      <div class="temp">{{time.temperature.current}}&deg;C</div>
      <div class="description">{{time.weather.description}}</div>
      <div class="min-max-temp">min: {{time.temperature.min}}&deg;C / max: {{time.temperature.max}}&deg;C</div>
      <img src="assets/icons/wind.svg" class="wind-icon mr-2" alt="wind strength">
      <span class="wind-strength">{{time.wind.speed}} meter / sec</span>
    </div>
  </div>
</li>