<app-jumbotron backgroundColor="#33495F">
  <h1 class="jumbotron-title">Weather Live for beloved European Cities</h1>
  <h2 class="jumbotron-description">Get live weather forecasts updates for beloved 5 european cities (Amsterdam, Barcelona, Paris, Berlin, Brussels)</h2>
  <img src="assets/animations/animated-weather-icons.gif" alt="weather live"/>
</app-jumbotron>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div *ngFor="let city of cities" class="col-lg-4 col-md-6">
        <app-card
          id={{city.id.value}}
          image="assets/images/{{city.data.name.toLowerCase()}}.jpg"
          location="{{city.data.name}}, {{city.data.country.name}}"
          temperature={{city.temperature.current}}
          description={{city.weather.description}}
          windStrength={{city.wind.speed}}
          icon={{city.weather.icon}}
        ></app-card>
      </div>
    </div>
  </div>
</div>