<div class="card-body">
  <app-card-body-location location={{location}}></app-card-body-location>
  <div class="row">
    <div class="col text-center">
      <app-card-body-weather temperature={{temperature}} description={{description}} icon={{icon}}></app-card-body-weather>
    </div>
    <div class="col text-center left-border">
      <app-card-body-wind strength={{strength}}></app-card-body-wind>
    </div>
  </div>
</div>