.jumbotron-img {
  zoom: 2;
}

ul.timeline {
  list-style-type: none;
  position: relative;
  &:before {
    content: ' ';
    background: #33495F;
    opacity: 0.5;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
}

.forecast {
  background-color: rgba(51,73,95, 0.2);
  .day {
    font-weight: bold;
  }
}