<app-jumbotron *ngIf="city">
  <img class="jumbotron-img" src="https://www.countryflags.io/{{city.data.country.code}}/shiny/64.png" alt="" />
  <h1>{{city.data.name}}, {{city.data.country.name}}</h1>
</app-jumbotron>

<div class="forecast">
  <div class="container pt-5 pb-5">
    <div class="row" *ngFor="let day of weathersList | keyvalue">
      <div class="col">
        <h3 class="day">{{day.key | amDateFormat: 'LL'}}</h3>
        <ul class="timeline">
          <app-weather-details [list]="day.value"></app-weather-details>
        </ul>
      </div>
    </div>
  </div>
</div>